<style>
  .card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}

.card-header {
  height: 200px;
}

.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-content {
  background-color: #fff;
  padding: 30px;
}

.card-title {
  height: 20px;
  margin: 0;
}

.card-excerpt {
  color: #777;
  margin: 10px 0 20px;
}

.author {
  display: flex;
}

.profile-img {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 100px;
}

.author-info small {
  color: #aaa;
  margin-top: 5px;
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
</style>

<%- include ("./headtag") %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<%- include ("./navbar") %>
<!--     carousel start     -->


<div class="caro">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/img/bg2.jpg" class="d-block" alt="hostel images">
            
            <div class="carousel-caption d-none d-md-block" style="color:#fff;">
              <h5>Embassie Hostel</h5>
              <p>Relax with friends</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/img/bg1.jpg" class="d-block" alt="hostel images">
            <div class="carousel-caption d-none d-md-block" style="color:#fff;">
              <h5>Safe Stay</h5>
              <p>Stay in new kind of place</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/img/bg-3.jpg" class="d-block" alt="hostel images">
            <div class="carousel-caption d-none d-md-block" style="color:#fff;">
              <h5>Hostel Elf</h5>
              <p>Your home is Prague</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<!--     carousel end     -->
<section class="notice my-3">
    <div class="container">
        <h2 class="text-center my-3" style="color:rgb(5, 40, 68);font-family: 'Poppins', sans-serif;font-weight: 600;">Notice</h2>
        <div class="card mb-3 text-start" style="width:100%;">
            <ol class="list-group list-group-flush">

              <li class="list-group-item">&#x276F; &nbsp;&nbsp;<a href="/admission">From Rector office/Hostel Section Regarding Hostel Admission</a> </li>
              <li class="list-group-item">&#x276F; &nbsp;&nbsp;<a href="/complaint"> Parents Undertaking for Hostel Accomodation ... Link for online Form</a> </li>
              <li class="list-group-item">&#x276F; &nbsp;&nbsp;<a href="/pay" id="rzp-button1">Circular for Enrollment & Payment of Fees for AY 2021-22 dt. 18.11.2021 ... Click for online Payment</a> </li>
              
            </ol>
          </div>
    </div>
</section>


<!--     cards  starts     -->
<section class="facility bg-light pt-5 pb-5 shadow-sm">
  <div class="container">
    <!-- <div class="row pt-5">
      <div class="col-12">
        <h3 class="text-uppercase border-bottom mb-4">Equal height Bootstrap 5 cards example</h3>
      </div>
    </div> -->
    <div class="row">
      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      <div class="col-lg-4 mb-3 d-flex align-items-stretch">
        <div class="card" style="border: 2px solid #4b5fcb;">
          <img src="../assets/img/room1.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Rooms</h5>
            <p class="card-text mb-4">Is a manmade waterway dug in the early 1600's and now displays many landmark commercial locals and vivid neon signs.</p>
          </div>
        </div>
      </div>
      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      <div class="col-lg-4 mb-3 d-flex align-items-stretch">
        <div class="card" style="border: 2px solid #4b5fcb;">
          <img src="../assets/img/mess.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Mess</h5>
            <p class="card-text mb-4">Near Afionas village, on the west coast of Corfu island. The two beaches form two unique bays. The turquoise color of the sea contrasts to the high green hills surrounding it.</p>
          </div>
        </div>
      </div>
      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      <div class="col-lg-4 mb-3 d-flex align-items-stretch">
        <div class="card" style="border: 2px solid #4b5fcb;">
          <img src="../assets/img/gym.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Gym</h5>
            <p class="card-text mb-4">Located just outside the City Gate of Valletta, Malta. It consists of three bronze Tritons holding up a large basin, balanced on a concentric base built out of concrete and clad in travertine slabs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--     cards  end     -->
<!--     cards  start     -->


<!--     cards  start     -->

<!-- faqs start -->
<section class="faqs">
  <div class="container">
    <h2 class="faqs-head">Frequently asked questions</h2><br>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What is the process of allotment of seat?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Allotment is on the first cum first serve basis, usually, when the number of applicants are more than the number of hostel seats, a waiting list is drawn up and allocation is as per the list and availability arising.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What type of basic infrastructure has been provided to the hostellers?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            A basic bed with mattress, study table, chair and cupboard is assured to every boarder with air conditioning / Non A Calongside attached bath / Common facility as opted for.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            What is the quality of food ?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            The university engages mess facilities contract companies each year based on parameters and performance evaluation of Food Safety and Standards Authority of India. Currently, “Caterman Cuisine Concepts Pvt. Ltd. are providing the services. The menu is drawn in consultation with representatives of students and other experienced staff. Highest quality of food is maintained and strict hygiene standards are adhered to.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            What types of facilities do you provide to the hostellers?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Facilities include 24x7security, 24×7 power back up, 24×7 internet connectivity, newspapers to individual rooms, laundry, sports facilities, First Aid and medical facilities.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faqs end -->

<%- include ("./gallary") %>
<br>
<br>
<hr style="color:#2844e4;height: 3px; width: 90%;margin: auto;">
<section>
  <div class="row someMargine mt-5">
    <div class="center col-lg-6 col-md-6 col-sm-6">
      <h1 class="contact">Contact</h1>
      <p class="noMargine"><i class="fa-solid fa-location-dot contactIcons"></i><span class="contactSection"> ADDRESS</span></p>
      <p class="noMargine">WCE Vishrambagh, sangli</p><br>
      <p class="noMargine"><i class="fa-solid fa-phone contactIcons"></i><span class="contactSection"> PHONE</span></p>
      <p class="noMargine">7686942011</p><br>
      <p class="noMargine"><i class="fa-solid fa-envelope contactIcons"></i><span class="contactSection"> Email</span></p>
      <p class="noMargine">best.hostel@gmail.com</p>
    </div>
    <div class="center col-lg-6 col-md-6 col-sm-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.6090763821367!2d74.59926881481832!3d16.845738688405326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc1237f52c65db5%3A0xa3535676176ded0a!2sWalchand%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1647105799878!5m2!1sen!2sin"
        width="600" height="300" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
    </div>
  </div>
  <footer id="footer">
    <a href="#"><i class="fab fa-twitter footer-icons fa-2x"></i></a>
    <a href="#"><i class="fab fa-facebook footer-icons fa-2x"></i></a>
    <a href="#"><i class="fab fa-instagram footer-icons fa-2x"></i></a>
    <a href="#"><i class="fas fa-envelope footer-icons fa-2x"></i></a>
    <p>TeamTags © 2022 All Rights Reserved</p>
  </footer>

  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>

</section>




<script>
  axios.post('/order').then((info) => {
      console.log(info);
      var options = {
          "key": "rzp_test_nvhBWn23LWrMPJ", // Enter the Key ID generated from the Dashboard
          "amount": "20000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "Hostel Name",
          "description": "Test Transaction",
          "image": "https://example.com/your_logo",
          "order_id": info.data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
          "prefill": {
              "name": "Gaurav Kumar",
              "email": "gaurav.kumar@example.com",
              "contact": "9876456745"
          },
          "notes": {
              "address": "Razorpay Corporate Office"
          },
          "theme": {
              "color": "#3399cc"
          }
      };

      var rzp1 = new Razorpay(options);
      document.getElementById('rzp-button1').onclick = function (e) {
          rzp1.open();
          e.preventDefault();
      }

  })
</script>
