



<div class="container mt-5" style="display: flex;width: 90vw;">
    <div class="panel active" style="background-image: url('/assets/img/g1.jpg')">
      <h3>Hostel</h3>
    </div>
    <div class="panel" style="background-image: url('/assets/img/g2.jpg')">
      <h3>Playground</h3>
    </div>
    <div class="panel" style="background-image: url('/assets/img/g3.jpg')">
      <h3>Rooms</h3>
    </div>
    <div class="panel" style="background-image: url('/assets/img/g4.webp')">
      <h3>Canteen</h3>
    </div>
    <div class="panel" style="background-image: url('/assets/img/g5.jpg')">
      <h3>Gym</h3>
    </div>

  </div>
<script>
    const panels = document.querySelectorAll('.panel')

panels.forEach(panel => {
    panel.addEventListener('click', () => {
        removeActiveClasses()
        panel.classList.add('active')
    })
})

function removeActiveClasses() {
    panels.forEach(panel => {
        panel.classList.remove('active')
    })
}
</script>
