body{
   
}
.register-card .card{
    /* max-width: 50%; */
    background-color: #303030;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}
.register .form-group{
    margin-bottom: 1rem;
}
.register .form-group label{
    display: inline-block;
    margin-bottom: 0.5rem;
}
.btn-block{
    display: block;
    width: 100%;
}
.navbar{
    color: #fff;
    position: fixed;
    height: 65px;
    background-color: #4b5fcb;
    top: 0;
    z-index: 5;
    font-family: 'Poppins', sans-serif;
}
.navbar-brand{
    color: #fff;
    font-weight: 800;
}
.navbar ul li{
  margin:0 10px ;
}
.navbar-collapse{
    background-color: #4b5fcb;
    border-radius: 15px;
}
.card{
    transition: 0.5s
}
.caro img{
    height: 70vh;
    width: 100%;
}
.carousel-inner .carousel-caption{
    background: rgba(2,0,36,.5);
    border-radius: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.facility .card-body{
    color:#4b5fcb;
    font-family: 'Poppins', sans-serif;
}
.facility .card-body .card-title{
    font-weight: 700;
    font-size: 1.5rem;
}
.facility .card:hover{
    background-color:#4b5fcb;
}
.facility .card img{
    object-fit: cover;
    overflow: hidden;
}
.facility .card:hover .card-body{
    color:#fff;
}
.notice .container{
    border: 5px solid #4b5fcb;
    border-radius: 28px;
    background-color: #c4c4d9;

}
.notice .container ul li{
    font-weight: 500;
    color: #4b5fcb;
    font-size: 1.1rem;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
}
.faqs{
    font-family: 'Poppins', sans-serif;
    background-image:url(/assets/img/faqs-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}
.faqs-head{
    color: #fff;
}
.all-fac{
    margin: 0 auto;
}


.all-fac i{
    /* background-color: #4b5fcb;
    border-radius: 100%;
    padding: 45px;
    width: 2.777em;
    height: 2.777em;
    line-height: 3rem;
    margin: 0 auto;
    transition: 0.5s; */
}
.all-fac i:hover{
    background-color: rgb(29, 29, 29);
    color: #fff;
}